html {
  scroll-behavior: smooth;
}
body {
  color: white;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
  background-color: rgb(208, 208, 208) !important;

}

a {
  font-family: 'Dosis', sans-serif;

}

h1,h2,h3,h6 {
  font-family: 'Dosis', sans-serif;
}
.mainHeader {
  max-width: 100%;
  height: 50%;
  position: relative;
}

.mainHeader::before {
  content: "";
  background-image: url('../images/binary1.jpg');
  background-size: cover;
  position: absolute;
  max-width: 100%;
  height:100%;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity:95%;

}

.h1Main {
text-align: center;
margin-top: 10%;
display: inline-flex;
font-family: 'Cutive Mono', monospace;
margin-bottom: 10%;
position: relative;
background-color: rgba(0, 0, 0, 0.4);
}

.headerSize {
  font-size: 1.7em;
  position: relative;
}

.typedTitle {
  text-align: justify;
  padding-left: 3%;
  color: rgb(255, 255, 255);
  position: relative;

}

nav {
  color: white;
  background-color: black !important;
}

.navBar {
  font-size: 30px;
}


.bg-dark{
  background-color: black;
}

nav ul {

margin: 0px;
padding: 0px;
width: 100%;
background-color: black;
}

nav ul li {

display: inline-block;
list-style: none;
position: relative;

}


.active {
  background-color: black;
}

nav ul li:hover {
background-color: black;
display: inline-block;


}

nav u li a {
text-decoration: none;
padding: 10px 14px;
color: white;
display: block;


}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
nav ul li:hover ul.dropdown {
display: block;
}


nav ul li ul.dropdown {
display: none;
position: absolute;
top: 60px;
right: 0px;


}

nav ul li ul.dropdown li {
display: block;
}

.content {
  padding: 16px;
  margin: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.aboutImg {
  width: 80%;
  margin-left: 25%;
  margin-top: 15%;
  box-shadow: 1em 1em 0 0 rgb(208, 208, 208), 1em 1em 0 5px rgb(88, 3, 103);
}

.about {
  font-family: 'Indie Flower', cursive;
  font-weight: normal;
  font-size: 1.2em;

}

.about-blurb {
  font-family: 'Dosis';
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 15%;
  margin-left: 10%;
  background-color: rgba(200,162,200,0.3);
}

.extraC {
  font-family: 'Chilanka', cursive;
  text-align: right;
}

.extraC-blurb {
  font-family: 'Chilanka', cursive;
  background-color: rgba(255, 239, 204, 0.3);
  padding: 1%;
  text-align: left;
}


.projects {
  font-family: 'Chilanka', cursive;
  text-align: left;

}

.projects-blurb {
  font-family: 'Chilanka', cursive;
  background-color: rgba(204,229,255,0.3);
  padding: 3%;
  text-align: left;
}


.hobbies {
  font-family: 'Chilanka', cursive;
  text-align: right;

}

.hobbies-blurb {
  font-family: 'Chilanka', cursive;
  background-color: rgba(204,229,255,0.3);
  padding: 3%;
  text-align: right;
}

#hobbiesHeader{
  font-family: 'Indie Flower', cursive;
  background-color: rgba(0,0,0,0.1);
  text-align: center;
}


