body {
  background: rgba(32,32,32,0.5);
  color: white;
  font-size: 24px;


}
.mainHeader {
  background: no-repeat center/100% url("../images/Trinidad6.JPG");
  max-width: 100%;
  height: 600px;
  background-size: cover;

}

.h1Main {
text-align: center;
margin-left:150px;
margin-top:250px;
display: inline-flex;
}
/*.musicHeader {
  background-image: url("../images/OW5.JPG");
  background-position: center;
  height: 600px;
  background-size: cover;
}

.aboutHeader {
  background: no-repeat center/100% url("../images/toronto.jpg");
  max-width: 100%;
  height: 600px;
  background-size: cover;

}

.danceHeader {
  background: no-repeat center/100% url("../images/marktore.jpg");
  max-width: 100%;
  height: 600px;
  background-size: cover;

} */

.typedTitle {
  text-align: left;
  font-family: 'Bad Script', cursive;

}

nav {
  color: white:
}

.navBar {
  font-size: 30px;
}




nav ul {

margin: 0px;
padding: 0px;
width: 100%;
background-color: rgba(0,0,0,0.2);
}

nav ul li {

display: inline-block;
list-style: none;
position: relative;

}


.active {
  background-color: rgba(0,0,255,0.2);
}

nav ul li:hover {
background-color: rgba(0,0,0,0.7);
display: inline-block;


}

nav u li a {
text-decoration: none;
padding: 10px 14px;
color: white;
display: block;


}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
nav ul li:hover ul.dropdown {
display: block;
}


nav ul li ul.dropdown {
display: none;
position: absolute;
top: 60px;
right: 0px;


}

nav ul li ul.dropdown li {
display: block;
}

.content {
  padding: 16px;
  margin: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

img {
  width: 100%;
}

.about::before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
  pointer-events: none;

}

.about {
  font-family: "Comfortaa";
  font-size: 15px;
  padding-top: 100px;
}

.about-me-pic {
  border: 5px solid #ffffff;
  display: inline-block;
  margin-top: 90px;
  margin-left: 400px;

}

.about-me-pic img{
  padding-left: 5px;
  position: relative;
  left: 40px;
  top: 40px;
}

.about-me {
  width: 450px;
  height: 200px;
  background: rgba(204,204,255,0.2);
  padding: 40px;
  margin-top: 5.5%;
  margin-left: 50px;
  margin-right: 50px;
  color: white;
  position: absolute;
  display: inline;
  padding-left: 60px;

}

.hobbies {
  font-family: "Comfortaa";
  background-color: rgba(204,229,255,0.3);
  width: 500px;
  margin-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 40px;
  text-align: left;


}


/* Font References

font-family: 'Caveat', cursive;
font-family: 'Bad Script', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Slabo 27px', serif;

*/


/* Messed up code


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}


li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: rgba(0,0,0,0.7);
}

.active {
  background-color: rgba(0,0,255,0.2);
}

ul li ul {
  opacity: 0;
  position: static;
  visibility: hidden;
  backgroud-color: rgba(0,0,0,0.5);
  display: none;
}

ul li ul a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  position: relative;
  display: block;
  min-width: 160px;
  z-index: 4;
}

ul li ul li {
  clear: both;
width: 100%;
}

*/
