html {
  scroll-behavior: smooth;
}
body {
  background: rgba(32,32,32,0.5);
  color: white;
  font-size: 24px;
  font-family: "Comfortaa";
}

.mainHeader {
  background: no-repeat center/100% url("../images/Trinidad6.JPG");
  max-width: 100%;
  height: 50%;
  background-size: cover;

}

.h1Main {
text-align: center;
margin-top: 10%;
display: inline-flex;
background-color: rgba(255,255,255,0.1);
font-family: 'Bad Script', cursive;
margin-bottom: 10%;
}

.typedTitle {
  font-family: 'Bad Script', cursive;
  font-size: 4em;
  text-align: center;
  padding-left: 5%;
  color: white;

}

nav {
  color: white:
}

.navBar {
  font-size: 30px;
}




nav ul {

margin: 0px;
padding: 0px;
width: 100%;
background-color: rgba(0,0,0,0.2);
}

nav ul li {

display: inline-block;
list-style: none;
position: relative;

}


.active {
  background-color: rgba(0,0,255,0.2);
}

nav ul li:hover {
background-color: rgba(0,0,0,0.7);
display: inline-block;


}

nav u li a {
text-decoration: none;
padding: 10px 14px;
color: white;
display: block;


}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
nav ul li:hover ul.dropdown {
display: block;
}


nav ul li ul.dropdown {
display: none;
position: absolute;
top: 60px;
right: 0px;


}

nav ul li ul.dropdown li {
display: block;
}

.content {
  padding: 16px;
  margin: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.aboutImg {
  width: 80%;
  margin-left: 5%;
  margin-top: 5%;
  box-shadow: 1em 1em 0 0 white, 1em 1em 0 5px gray;
}

.about {
  font-family: "Comfortaa";
  font-size: 1.2em;
}

.about-blurb {
  font-family: "Comfortaa";
  font-size: 1.2em;
  margin-top: 25%;
  background-color: rgba(200,162,200,0.3);
}


.hobbies {
  font-family: "Comfortaa";
  text-align: right;


}

.hobbies-blurb {
  font-family: "Comfortaa";
  background-color: rgba(204,229,255,0.3);
  padding: 5%;
  text-align: left;
}

.carousel-item{
  height: 30em;
}


.carousel-item img{
  height: 30em;
}
